@font-face{
	font-family:'Labrador';
	src:url("webfonts/2DF761_18_0.eot");
	src:url("webfonts/2DF761_18_0.eot?#iefix") format("embedded-opentype"),
	url("webfonts/2DF761_18_0.woff2") format("woff2"),
	url("webfonts/2DF761_18_0.woff") format("woff"),
	url("webfonts/2DF761_18_0.ttf") format("truetype")
}
@font-face{
	font-family:'Labrador-A-Medium';
	src:url("webfonts/2DF761_1A_0.eot");
	src:url("webfonts/2DF761_1A_0.eot?#iefix") format("embedded-opentype"),
	url("webfonts/2DF761_1A_0.woff2") format("woff2"),
	url("webfonts/2DF761_1A_0.woff") format("woff"),
	url("webfonts/2DF761_1A_0.ttf") format("truetype")
}
@font-face{
	font-family:'AmpleSoft-Medium-webfont';
	src:url("webfonts/AmpleSoft-Medium-webfont.eot");
	src:url("webfonts/AmpleSoft-Medium-webfont.eot?#iefix") format("embedded-opentype"),
	url("webfonts/AmpleSoft-Medium-webfont.woff2") format("woff2"),
	url("webfonts/AmpleSoft-Medium-webfont.woff") format("woff"),
	url("webfonts/AmpleSoft-Medium-webfont.ttf") format("truetype")
}
@font-face{
	font-family:'Labrador-B-Medium-Oblique';
	src:url("webfonts/2DF761_6_0.eot");
	src:url("webfonts/2DF761_6_0.eot?#iefix") format("embedded-opentype"),
	url("webfonts/2DF761_6_0.woff2") format("woff2"),
	url("webfonts/2DF761_6_0.woff") format("woff"),
	url("webfonts/2DF761_6_0.ttf") format("truetype")
}

.amplesoft {
	font-family: 'AmpleSoft-Medium-webfont';
    // text-transform: capitalize !important;
    font-weight: normal !important;
}

@-ms-viewport {
	width:device-width;
}
@media only screen and (min-device-width: 800px) {
	html {
		overflow:hidden;
	}
}