html {
	height:100%;
}
body {
	height:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	font-size:16px;
	color:#FFFFFF;
	background-color:#000000;
	font-family:'Labrador';
}
#plane {
	position:absolute;
	top:0;
	left:0;
	background:red;
	width:50%;
	height:50%;
	z-index:91111;
	display:none;
}
#pano {
	width:100%;
	height:100%;
}
button::-moz-focus-inner {
	border:0;
}
* {
	box-sizing: border-box;
}
.popup_content {
	padding:0;
	width:100%;
	height:100%;
}
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.container {
	position:relative;
	margin:0 auto;
	width:1280px;
	@include xxs {
		width: 284px;
		margin-top: 75px;
	}
	@include xs {
		width: 564px;
		margin-top: 95px;
	}
	@include s {
		width: 864px;
	}
	@include m {
		width: 1160px;
	}
	
	text-align:center;
}
.container-large {
	position:relative;
	margin:0 auto;
	width:100%;
	margin-top:80px;
	text-align:center;
}
.close {
	position: fixed;
	text-transform:uppercase;
	width:240px;
	font-size:35px;
	height:52px;
	font-family:'Labrador-A-Medium';
	text-align:center;
	padding:7px 0;
	left:0;
	cursor:pointer;
	transition:0.2s opacity;
	z-index:999999;
	letter-spacing:.05em;
	top:22px;

	@include xl {
		top:52px;
	}

	@include xs {
		top: 0;
		width: 44px;
		height: 44px;
		padding: 3px 0;
		padding-left: 14px;
		overflow: hidden;
	}
	@include s {
		top: 0;
		width: 52px;
		padding-left: 16px;
		overflow: hidden;
	}
	@include xxs {
		top:0;
		width: 44px;
		height: 44px;
		padding: 3px 0;
		padding-left: 14px;
		overflow: hidden;
	}

}
.close::before {
	content:"<";
	text-align:center;
	margin-right:20px;
	top:-1px;
	position:relative;
}
.popup_background {
	background-size:cover;
	background-position:center right;
}
.popup__background--green .close {
	background:white;
	color:red;
}
.popup__background--white .close,
.popup__background--white-icon .close {
	background:red;
	color:white;
}
.popup__background--black .close {
	background:red;
	color:white;
}
.close:hover {
	opacity:1;
}
.logo {
	opacity:0.5;
	width:52px;
	position: fixed;
	top:5px;
	right:20px;

	@include xl {
		top:38px;
		right:50px;
	}
	@include s {
		width:30px;
		top:0;
		right:10px;
	}
	@include xs {
		width:30px;
		top:0;
		right:10px;
	}
	@include xxs {
		width:30px;
		top:0;
		right:10px;
	}
}
.popup__background--green .logo,
.popup__background--black .logo,
.website-logo .logo {
	fill:white;
}
.popup__background--white .logo,
.popup__background--white-icon .logo {
	fill:black;
	opacity:0.4;
}
.thumbnail {
	display:inline-block;
	width:500px;
	height:344px;
	margin:0 auto;
	border:2px solid rgba(245,
	245,
	245,
	0.9);
	background-size:cover;
	border-radius:1px;
	cursor:pointer;
	transition:0.2s opacity;
	-webkit-box-shadow:0px 0px 23px -1px rgba(255,
	255,
	255,
	1);
	-moz-box-shadow:0px 0px 23px -1px rgba(255,
	255,
	255,
	1);
	box-shadow:0px 0px 23px -1px rgba(255,
	255,
	255,
	0.75);
}
.thumbnail-small {
	display:inline-block;
	width:362px;
	height:251px;
	margin:0 25px 50px 25px;

	@include xl {
		width:362px;
		height:251px;
		margin:0 25px 50px 25px;
	}
	@include l {
		width: 284px;
		height: 197px;
	}
	@include m {
		margin: 0 1px 40px 1px;
		width: 284px;
		height: 197px;
	}
	@include xxs {
		width: 284px;
		height: 197px;
		margin: 0 auto;
    	margin-bottom: 20px;
	}
	@include xs{
		margin: 0 0 35px 0;
	}

	background:#edf0f2;
	-webkit-box-shadow:0px 0px 23px -1px rgba(255,
	255,
	255,
	1);
	-moz-box-shadow:0px 0px 23px -1px rgba(255,
	255,
	255,
	1);
	box-shadow:0px 0px 23px -1px rgba(255,
	255,
	255,
	1);
	background-size: cover;
}
.thumbnail-small__inner {
	width:100%;
	height:100%;

	border:2px solid white;
	border-bottom:1px solid white;
	background-size:cover;
	cursor:pointer;
	transition:0.2s opacity;
}
.thumbnail:hover,
.thumbnail-small__inner:hover {
	opacity:0.9;
}
#popup-2-1 .title,
#popup-2-2 .title,
#popup-6 .title {
	@include xl {
		width:1600px;
		margin-top: 0;
		margin-bottom:60px;
	}
	color:#4c4d51;
}
#popup-6, #popup-2-1, #popup-2-2 {
	.container {
		@include xxs {
			width: 284px 
		}
		@include xs {
			width: 362px;
			margin-top: 75px;
		}
		@include xl {
			width: 1660px;
		}
		@include s {
			width: 770px;
			margin-top: 55px;
			.thumbnail-small:nth-child(even) {
				margin: 0 20px 35px 0;
			}
			.thumbnail-small:nth-child(odd) {
				margin: 0 0 35px 20px;
			}
		}
		
	}
}
#popup-2-1 {
	.container {
		@include s {
			margin-top: 75px;
		}
	}
}
#popup-2 .thumbnail-small:nth-child(1) {
	background-image:url('content/2-1/2.1_tn.png');
	background-size:cover;
	@include s {
		margin: 0 6px 40px 6px;
	}
	@include m {
		margin: 0 6px 40px 6px;
	}
	@include xs {
		margin: 0 6px 40px 6px;
	}
}
#popup-2 .thumbnail-small:nth-child(2) {
	background-image:url('content/2-2/2.2_tn.png');
	background-size:cover;
	@include s {
		margin: 0 6px 40px 6px;
	}
	@include m {
		margin: 0 6px 40px 6px;
	}
	@include xs {
		margin: 0 6px 40px 6px;
	}
}
.title {
	margin:0 auto;
	width:1110px;
	font-size:50px;
	margin-bottom:45px;

	@include xxs {
		width: 284px !important;
		font-size: 24px;
		line-height: 22px;
		margin-bottom: 24px;
	}
	@include xs {
		width: 100%;
		font-size: 35px;
		line-height: 32px;
		margin-bottom: 35px;
	}
	@include s {
		width: 100%;
    	font-size: 33px;
    	line-height: 30px;
		margin-bottom: 30px;
	}
	@include m {
		width: 1160px;
		margin-bottom: 18px;
	}
	@include xl {
		width:1280px;
	}
	text-align:left;
	display:block;
	text-transform:uppercase;
	letter-spacing:.05em;
}
.description {
	color:white;
	width:100%;
	text-align:left;
	margin:0 auto;
	font-size:28px;
	font-family:'Labrador';
	line-height:33px;
	margin-top: 15px;

	letter-spacing:0.015em;
	@include xxs {
		font-size: 24px;
		margin: 0 auto 20px auto;
	}
	@include xs {
		margin-bottom: 35px;
		font-size: 24px;
	}
}
.owl-carousel .single {
	transform:translate3d(0px,
	0px,
	0px) !important;
}
.owl-item {
	text-align:center;
	padding:0;
}
.owl-prev,
.owl-next {
	display:inline-block;
	background:none;
	border:none;
	color:white;
	font-size:23px;
	cursor:pointer;
	width:50px;
	padding:11px;
}
.owl-prev {
	float:left;
}
.owl-next {
	float:right;
}
.owl-prev span,
.owl-next span {
	top:-2px;
	position:relative;
}
.clearfix {
	clear: both;
}
#popup-4 {
	.footer {
		border:none !important;
		@include xl {
			position: absolute;
			top: 75%;
			left: 880px;
		}
	}
	.right {
		p {
			&::before, &::after {
				content: none;
			}
		}
	}
}
.owl-dots {
	display: none;
}
.item {
	margin:0 auto;
    position: relative;
    display: inline-block;

	em {
		color: red;
		text-decoration: none;
		font-style: normal;
	}
	.footer  {
		border-top: 1px solid black;
	    float: left;
		width: 100%;
		color: #3e3d3d;
		text-align: left;
		padding: 0 18px 18px 18px;
		@include xs {
			width: 480px;
			padding: 0 18px 40px 18px;
		}
		@include xxs {
			max-width: 480px;
			width:100%;
			margin-bottom:0;
			padding: 0 18px 18px 18px;
		}
		@include xl{
			float: right;
			width: 720px;
			padding: 0;
			padding-bottom: 70px;
		}

		div {
			font-size: 20px;
			line-height: 20px;
			letter-spacing: 0.025em;
			margin: 12px 0;
			font-weight:bold;
			font-family: 'Labrador';
			color:  #4c4c4c;

			@include xl {
				font-size: 26px;
				line-height: 40px;
			}
		}
		span:nth-child(2) {
			font-size: 20px;
			line-height: 20px;
			letter-spacing: 0.05em;
			float:left;
			width:100%;
			font-family: 'Labrador';
			font-weight:100;
			color:  #4c4c4c;
			@include xl {
				font-size: 24px;
				line-height: 40px;
			}
		}
		span:nth-child(3) {
			font-size: 14px;
			line-height: 16px;
			letter-spacing: 0.05em;
			float:left;
			width:100%;
			font-weight:100;
			font-family: 'Labrador-B-Medium-Oblique';
			color:  #4c4c4c;
			@include xl {
				font-size: 18px;
				line-height: 22px;
			}
		}
		span:nth-child(4) {
			font-size: 14px;
			line-height: 16px;
			letter-spacing: 0.05em;
			float:left;
			width:100%;
			font-weight:100;
			font-family: 'Labrador-B-Medium-Oblique';
			color:  #4c4c4c;
			@include xl {
				font-size: 18px;
				line-height: 22px;
			}
		}
	}
	.left {
		float:left;
		position:relative;
		text-align: center;
		img {
			max-width: 100%;
			max-height: 100%;
			width: auto !important;
		}
	}
	.right {
		position: relative;
		display: inline-block;
		@include xl {
			float:right;
		}

		ul li{
			text-align: left;
			font-size: 32px;
			line-height: 38px;
			color: #3e3d3d;
			list-style: none;

			&:before {
				content: "";
				border: 4px solid red;
				height: 10px;
				width: 10px;
				float: left;
				position: relative;
				top: 6px;
				margin-right: 15px;
			}
		}

		p {
			margin: 0;
			font-size: 32px;
			line-height: 38px;
			color: #3e3d3d;
			text-align: left;
			display:inline-block;

			position: relative;
			padding-left: 20px;

			@include xl {
				padding-left: 25px;
			}
			&::before {
				content: " ";
				background-image: url(QuoteTop.png);
				background-size: cover;
				position: absolute;
				top: 0;
				left: 0;
				height: 22px;
				width: 13px;
				@include xl {
					height: 30px;
    				width: 17px;
				}
			}
			&::after {
				content:" ";
				background-image: url('QuoteBottom.png');
				background-size: cover;
				display:inline-block;
				top:2px;
				position: relative;
				height: 22px;
				width: 13px;
				margin-left:7px;
		
				@include xl {
					margin-left:10px;
					height: 30px;	
					width: 17px;
				}
			}
			&.nop {
				padding-left: 0;
				@include xl{
					font-size: 32px;
					line-height: 36px;
				}
			
				&::before, &::after {
					content: none;
				}
			}
		}
	}
	.item__title {
		width: 100%;
	//	height:70px;
		font-size: 35px;
		line-height: 37px;
		color: #3e3d3d;
		text-align: left;
		font-weight: bold;
		float: right;
		margin: 18px 0;
		@include xxs {
			height: auto;
		}
		@include xl{
			height: 70px;
		}
	}
	@include xl {
		 width: 1600px;
		.right {
			width:720px;
			height:550px;
		}
		.left {
			height:550px;
			width:720px;
			img {
				position: absolute;
				right: 0px;
				bottom: 0px;
				max-width: 100%;
				max-height: 100%;
				width: auto !important;
			}
		}
	}
	@include m {
		 width: 720px;
		.right {
			width: 100%;
			padding:0 18px 18px 18px;
		}
		.left {
			width:720px;
			height:450px;
			img {
				max-width: 100%;
				max-height: 100%;
				width: auto !important;
			}
		}
	}
	@include s {
		 width: 720px;
		.right {
			width: 100%;
			padding:0 18px 18px 18px;
		}
		.left {
			width:720px;
			img {
				max-width: 100%;
				max-height: 100%;
				width: auto !important;
			}
		}
	}
	@include xs {
		 width: 480px;
		.right {
			width: 100%;
			padding:0 18px 18px 18px;
		}
		.left {
			width: 100%;
			img {
				max-width: 100%;
				max-height: 100%;
				width: auto !important;
			}
		}
	}
	@include xxs {
		 max-width: 480px;
		 width:100%;
		.right {
			width: 100%;
			padding:0 18px 18px 18px;
		}
		.left {
			width: 100%;
			img {
				max-width: 100%;
				max-height: 100%;
				width: auto !important;
				display: inline-block !important;
			}
		}
	}
}

.slider-counter .disabled,
.pdf-counter .disabled
 {
	opacity:0.5;
	cursor:default;
}
.slider-counter, .pdf-counter {
	text-align:center;
	background:red;
	width:160px;
	margin:0 auto;
	height:50px;
	font-size:25px;
	line-height:50px;
	font-weight:bold;
	letter-spacing:.05em;
	margin-bottom:36px;
}
.pdf-counter {
	margin-top: 50px;
}
.slider-counter div, .pdf-counter div {
	display:inline-block;
}
.info {
	text-align:center;
	margin-top:110px;
}
#popup-7 {
	max-height: 100%;
	position:absolute;
	-webkit-transition:-webkit-transform cubic-bezier(0.7,0,0.2,1) 800ms;
	-moz-transition:-moz-transform cubic-bezier(0.7,0,0.2,1) 800ms;
	transition:transform cubic-bezier(0.7,0,0.2,1) 800ms;
	color: #575757;

	@include xl {
		top:52px;
		width:505px;
		-webkit-transform:translate3d(-505px,0,0);
		-moz-transform:translate3d(-505px,0,0);
		transform:translate3d(-505px,0,0);
	}
	@include l {
		top:22px;
		width:415px;
		-webkit-transform:translate3d(-415px,0,0);
		-moz-transform:translate3d(-415px,0,0);
		transform:translate3d(-415px,0,0);
	}
	@include m {
		top:22px;
		width:415px;
		-webkit-transform:translate3d(-415px,0,0);
		-moz-transform:translate3d(-415px,0,0);
		transform:translate3d(-415px,0,0);
	}
	@include s {
		top:0;
		width:415px;
		-webkit-transform:translate3d(-415px,0,0);
		-moz-transform:translate3d(-415px,0,0);
		transform:translate3d(-415px,0,0);
	}
	@include xs {
		top:0;
		width:415px;
		-webkit-transform:translate3d(-415px,0,0);
		-moz-transform:translate3d(-415px,0,0);
		transform:translate3d(-415px,0,0);
	}
	@include xxs {
		top:0;
		max-width:415px;
		width:100%;
		-webkit-transform:translate3d(-100%,0,0);
		-moz-transform:translate3d(-100%,0,0);
		transform:translate3d(-100%,0,0);
	}

	h2 {
		font-family: 'Labrador';
		font-weight: bold;
		font-size: 38px;
		letter-spacing: 1px;
		line-height: 36px;
		margin: 5px 0 0 0;
		@include xl {
			font-size:45px;
			line-height: 42px;
		}
		@include xxs {
		    font-size: 37px;
			letter-spacing: 1px;
			line-height: 34px;
			margin: 5px 0;
		}
		@media screen and (orientation:landscape) {
			@include xs {
				font-size: 37px;
				letter-spacing: 1px;
				line-height: 34px;
				margin: 5px 0;
			}
		}

	}
	p {
		font-family: 'Labrador';
		font-size: 22px;
		letter-spacing: 0.1px;
		line-height: 28px;
		margin: 20px 0;
		
		@include xxs {
			margin: 6px 0 10px 0;
		    font-size: 20px;
			line-height: 24px;
		}
	}

	.red-line {
		height:2px;
		width:100%;
		background: red;
		float: left;
	}
}
#popup-7.active {
	@include xxs {
		overflow: auto;
	}
	@media screen and (orientation:landscape) {
		@include xs {
			overflow: auto;
		}
	}
	-webkit-transform:translate3d(0,
	0,
	0);
	-moz-transform:translate3d(0,
	0,
	0);
	transform:translate3d(0,
	0,
	0);
}
#popup-7 .content {
	background:white;
	padding:60px 58px;
	@include xxs {
		padding: 55px 15px;
		padding-bottom: 35px;
	}
}
#popup-7 .content img {
	width:100%
}
#popup-7 .handle {
	height:52px;
	width:52px;
	background:red;
	background-image:url('info.png');
	position:absolute;
	right:-52px;
	top:0;
	transition:opacity 0.3s;
	cursor:pointer;
	background-size:65%;
	background-repeat:no-repeat;
	background-position:center center;

	@include xxs {
		width: 44px;
		height: 44px;
		right:-44px;
	}
	@include xs {
		width: 44px;
		height: 44px;
		right:-44px;
	}
}
#popup-7.active .handle {
	background-image:url('cross.png');
	background-size:50%;
	@include xxs {
		left: 0;
	}
	@media screen and (orientation:landscape) {
		@include xs {
			left: 0;
		}
	}
}
#popup-7 .handle:hover {
	opacity:0.9;
}
.slider {
	margin-top:182px;
	@include m {
		margin-top: 110px;
	}
	@include s {
		margin-top: 73px;
	}
	@include xs {
		margin-top: 62px;
	}
	@include xxs {
		margin-top: 62px;
	}
}
.video-cont,
.pdf-cont {
	width:864px;
	height:486px;
	margin:0 auto;
	box-shadow:8px 8px 30px rgba(0,0,0,0.6);

	@include xl {
		width:1280px;
		height:720px;
	}
	@include xs {
		width:564px;
		height:317px;
	}

	@include xxs {
		width:284px;
		height:160px;
	}
}

.pdf-cont {
	height: calc(100% - 80px - 205px);
	background:white;
	box-shadow:8px 8px 30px rgba(0,0,0,0.54);
	@include m {
		height: calc(100% - 182px - 18px) !important;
	}
	@include s {
		height: calc(100% - 163px - 18px) !important;
	}

	@include xs {
		height: calc(100% - 107px) !important;
		width:100%;
	}	
	@include xxs {
		height: calc(100% - 107px) !important;
		width:100%;
	}
}

.video-cont {
	background:black;
}

.pdf-cont iframe{
	border: none;
	height: 100%;
	width: 100%
}
.pdf-cont img {
	width: 100%;
}
.video-cont video {
	height:100%;
	width:100%;
}
#popup-video .title {
	width:864px;
	margin-top:135px;
	margin-bottom:15px;

	@include xl {
		width:1280px;
	}

	@include m {
		font-size: 35px;
		line-height: 32px;
	}

	@include s {
		font-size: 30px;
		line-height: 28px;
		margin-top: 69px;
		margin-bottom: 20px;
	}

	@include xs {
		width: 564px;
		margin-top: 69px;
		margin-bottom: 20px;
		font-size: 24px;
		line-height: 22px;
	}

	@include xxs {
		width:284px;
		margin-top: 69px;
		margin-bottom: 25px;
		font-size: 24px;
		line-height: 22px;
	}
}
#popup-10 .title {
	width:864px;
	margin-top:135px;
	margin-bottom:15px;

	@include xl {
		width:1280px;
	}

	@include s {
		margin-top: 69px;
		margin-bottom: 20px;
	}

	@include xs {
		width: 564px;
		margin-top: 69px;
		margin-bottom: 20px;
	}

	@include xxs {
		width:284px;
		margin-top: 69px;
		margin-bottom: 25px;
	}
}

#popup-10 .title {
	@include xs {
		width: 100%;
	}
}
#popup-10 .title {
	color:#4c4d51;
}
#popup-10 {
	@include xs {
		padding: 0 18px;
	}
}
#popup-4 .owl-item {
	position:relative;
}
.btn {
	background:red;
	color:white !important;
	font-size:30px;
	min-height: 42px;
	text-align:center;
	padding:10px 20px;
	transition:0.2s opacity;
	z-index:999999;
	cursor:pointer;
	float:left;
}
.btn:hover {
	opacity:0.9;
}

.popup__background--green  {
	.title {
		text-transform: none;
		div:not(.clearfix) {
			float:left;
			width:100%;
			font-size:36px;
			line-height: 34px;
			letter-spacing: 0.04em;
			font-family: 'AmpleSoft-Medium-webfont';
			@include xl {
				font-size:54px;
				line-height: 52px;
			}
		}
		@include xl {
			margin-bottom:100px;
		}
		@include s { 
			margin-bottom:55px;
		}
		@include m { 
			margin-bottom:55px;
		}
		span,small {
			font-family: 'Labrador';
			font-weight: bold;
			font-size:26px;
			line-height: 40px;
			letter-spacing: 0.04em;
			@include xl{
				font-size: 32px;
			}
		}
		.clearfix {
			clear:both;
			display:block;
		}
		span {
			float:left;
			width:100%;
		}
		small {
			font-weight: 100;
			position: relative;
			top: -8px;
		}
		
	}
	.description {
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.015em;
		font-family: 'Labrador-A-Medium';
		@include xl {
			font-size: 28px;
			line-height: 40px;
		}
	}
	@include xl { 
		.thumbnail-small {
			margin: 0 25px 70px 25px;
		}
	}
}

.popup__background--white, .popup__background--white-icon, .popup__background--black   {
	.title {
		font-family: 'Labrador';
		font-size:36px;
		font-weight: bold;
		line-height: 28px;
		letter-spacing: 0.015em;
		@include xs { 
			margin-bottom:30px;
		}
		@include xl{
			font-size:48px;
			line-height: 40px;
		}
	}
	ul {
		@include xxs {
			padding: 0 0 0 25px;
		}
	}
	.right p{
		font-size:26px;
		line-height: 32px;
		letter-spacing: 0.015em;
		font-family: 'Labrador';
		@include xl{
			font-size:36px;
			line-height: 44px;
		}
	}
	.right ul li{
		font-size:24px;
		line-height: 30px;
		letter-spacing: 0.015em;
		font-family: 'Labrador';
		@include xl{
			font-size: 32px;
			line-height: 36px;
		}
	}
	.item__title {
		font-size:36px;
		line-height: 34px;
		letter-spacing: 0.015em;
		font-family: 'Labrador-A-Medium';
		@include xl{
			font-size:40px;
			line-height: 40px;
		}
	}
}
#popup-7 {
	h2 {
		font-weight: bold;
		font-size:34px;
		line-height: 40px;
		letter-spacing: 0.05em;
		@include xl{
			font-size:44px;
			line-height: 44px;
		}
	}
	p {
		font-family: 'Labrador';
		font-size:20px;
		line-height: 24px;
		letter-spacing: 0.015em;
		@include xl{
			font-size:26px;
			line-height: 34px;
		}
	}
}

.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto !important;
        touch-action: auto !important;
}
